<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<bean id="stu" class="com.offcn.bean.Student">
    <property name="id" value="101"></property>
    <property name="name" value="李四"></property>
    <property name="age" value="20"></property>
</bean>

    <bean id="studentJdbcDao" class="com.offcn.dao.StudentdaojdbcImbl"></bean>
    <bean id="studentMybatisDao" class="com.offcn.dao.StudentDaoMybatisImpl"></bean>
    <bean id="studentService" class="com.offcn.service.StudentserviceImpl">
     <!-- <property name="studentdao" ref="studentJdbcDao"></property>-->

        <property name="studentdao" ref="studentMybatisDao"></property>
    </bean>


</beans>